@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

.main {
	height: 100vh;
	width: 100%;
	display: flex;
}

.main__left {
	margin-left: 3.5rem;
	width: 60%;
	height: 100vh;
	/* margin-top: auto; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

.left__section-heading {
	font-family: "Open Sans", sans-serif;
	font-size: 42px;
	font-weight: bolder;
}

.main__right {
	width: 50%;
}

.right__form-container {
	background-color: white;
	height: 100vh;
	width: 80%;
	margin-left: 80px;
	align-items: center;
	border-radius: 5px;
	text-align: center;
}

.form__heading {
	color: black;
	font-family: "Open Sans", sans-serif;
}

.form__section {
	background-color: white;
	height: 80vh;
}

.form__select {
	width: 90%;
	height: 45px;
	background-color: #f1f1f1;
	border-color: #f1f1f1;
	border: 1px;
	margin-left: 18px;
	cursor: pointer;
}

.form__input {
	margin-top: 10px;
	width: 90%;
	height: 45px;
	background-color: #f1f1f1;
	border-color: #f1f1f1;
	border: 1px;
	margin-left: 18px;
}

.submit__button {
	display: block;
	padding: 15px;
	width: 70%;
	margin-top: 20px;
	margin-left: 60px;
	background-color: #130987;
	border: none;
	border-radius: 2px;
	color: white;
	font-weight: bolder;
	font-size: medium;
	cursor: pointer;
}

.formik_error {
	font-size: 13px;
	font-family: "Times New Roman", Times, serif;
}
