body {
	margin: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../src/assets/header_bg.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: #fff;
	display: block;
	overflow-y: hidden;
	position: relative;
	height: 100vh;
}
